:root {
	--dark-mode-color: #292929;
	--dark-mode-foreground: #161616;
	--light-mode-color: #fafafa;
	--light-mode-foreground: #f0f0f0;
  --accentcolor-1: #a480f2;
  --accentcolor-1-dark: #6053b0;
  --accentcolor-2: #ea9ab2;
  --accentcolor-2-dark: #e27396;
	--success-color: #4caf50;
	--warning-color: #8a0000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--dark-mode-color);
	color: var(--light-mode-color);
}

nav {
	background-color: var(--dark-mode-foreground);
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  width: 100vw;
  min-height: 10vh;
  z-index: 10;
  user-select: none;
}

.content {
	margin-top: 20px;
	padding: 20px;
}

.logo {
	user-select: none;
	align-items: center;
	display: flex;
	flex: 7.5;
	padding: 0 0 0 2vw;
}

.logo img {
	width: 5vw;
}

.left {
	align-items: center;
	display: flex;
	flex: 70;
}

.right {
  align-items: center;
  display: flex;
  padding-right: 5vw;
  flex: 12.5;
}

.links a {
	align-items: center;
	display: flex;
	padding: 0 1vw;
	text-decoration: none;
	transition: 0.2s;
	font-size: 1.125em;
	font-weight: 600;
	white-space: nowrap;
}

.link-1-color {
	color: var(--light-mode-color);
}

.link-1-color:hover {
	color: var(--accentcolor-2-dark);
}

.link-2-color {
	color: var(--accentcolor-1)
}

.link-2-color:hover {
	color: var(--accentcolor-1-dark);
}

.button-1 {
	margin-right: 0.5vw;
	border: 2px solid transparent;
	border-radius: 10px;
	padding: 11px 19px !important;
	color: var(--accentcolor-1);
}

.button-1:hover {
	border: 2px solid var(--accentcolor-1-dark);
	color: var(--accentcolor-1-dark);
}

.button-2 {
	border: 1px solid var(--accentcolor-1);
	border-radius: 10px;
	padding: 11px 19px !important;
	background-color: var(--accentcolor-1);
	color: var(--light-mode-color);
}

.button-2:hover {
	border: 1px solid var(--accentcolor-1-dark);
	background-color: var(--accentcolor-1-dark);
	color: var(--light-mode-color);
}

.user-name {
	padding: 0 1.1vw;
	color: var(--light-mode-color);
	font-size: 1.15em;
	font-weight: 600;
	cursor: default;
}

.user-img-box {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	background-color: var(--accentcolor-1);
	transition: 0.2s;
	cursor: pointer;
}

.user-img-box:hover {
	background-color: var(--accentcolor-1-dark);
}

.parallax {
	background-image: url('../imgs/background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.parallaxInner {
	padding: 10% 0;
}

.parallaxTextContainer {
    position: relative; /* Needed to position the cutout text in the middle of the image */
    height: 300px; /* Some height */
}

.parallaxText {
    background-color: var(--light-mode-color);
    color: black;
    font-size: 10vw; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 50%;
    text-align: center; /* Center text */
    position: absolute; /* Position text */
    top: 50%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
		user-select: none;
}

.parallaxTextBoxHome{
    border-style: solid;
    border-color: var(--dark-mode-foreground);
    border-width: 20%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 2% 3%;
		font-size: 28px;
}

/* Light mode settings */
body.light-mode {
	background-color: var(--light-mode-color);
	color: var(--dark-mode-color);
}