.login,
.register {
	width: 400px;
	margin: 100px auto;
	border-radius: 5px;
}

.login h1,
.register h1 {
	background-color: var(--background-color-secondary);
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	text-align: center;
	color: var(--foreground-color);
	font-size: 24px;
	padding: 20px 0 20px 0;
	border-bottom: 1px solid var(--background-color);
	border-radius: 5px 5px 0 0;
}

.login form,
.register form {
	background-color: var(--background-color-secondary);
	box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.3);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	border-radius: 0 0 5px 5px;
}

.login form label,
.register form label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: var(--primary-color);
	color: var(--background-color-secondary);
	border-radius: 5px 0 0 5px;
}

.login form input[type="password"],
.register form input[type="password"],
.login form input[type="text"],
.register form input[type="text"],
.login form input.email,
.register form input.email {
	width: 310px;
	background-color: var(--background-color-secondary);
	color: var(--foreground-color);
	height: 50px;
	border: 1px solid var(--background-color);
	margin-bottom: 20px;
	padding: 0 15px;
	border-radius: 0 5px 5px 0;
}

.password-container {
	position: relative;
	width: fit-content;
}

.password-container .fa-eye {
	position: absolute;
	right: 15px;
	top: 35%;
	transform: translateY(-50%);
	cursor: pointer;
}

.password-container .fa-eye-slash {
	position: absolute;
	right: 14px;
	top: 35%;
	transform: translateY(-50%);
	cursor: pointer;
}

.login form input[type="submit"],
.register form input[type="submit"] {
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: var(--primary-color);
	border: 0;
	cursor: pointer;
	font-weight: bold;
	color: var(--foreground-color);
	transition: var(--background-color) 0.2;
}

.login form input[type="submit"],
.register form input[type="submit"] {
	margin-top: 20px;
	border-radius: 0 0 5px 5px;
}

.login form input[type="submit"]:hover,
.register form input[type="submit"]:hover {
	background-color: var(--primary-color-dark);
	transition: var(--primary-color) 0.2s;
}

.dialog-success {
	background-color: var(--success-color);
	width: 400px;
	height: auto;
	color: var(--foreground-color);
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	z-index: -1;
	border-radius: 0 0 20px 20px;
	box-shadow: 2px 2px 4px var(--background-color-secondary);
}

.dialog-warning {
	background-color: var(--warning-color);
	width: 400px;
	height: auto;
	color: var(--foreground-color);
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	z-index: -1;
	border-radius: 0 0 20px 20px;
	box-shadow: 2px 2px 4px var(--background-color-secondary);
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: 600;
}

.content h3 {
	font-size: 1.5em;
	margin-bottom: 20px;
	font-weight: 600;
}

.card {
    background-color: var(--background-color-secondary);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card p {
    margin-bottom: 10px;
}

.card table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.card table td {
    border-bottom: 1px solid var(--background-color);
    padding: 10px;
    color: var(--foreground-color);
}

.card form h3 {
    color: var(--foreground-color);
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: 600;
}

.card form label {
    display: block;
    font-size: 1em;
    color: var(--foreground-color-secondary);
    margin-bottom: 5px;
}

.card form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border: 1px solid var(--background-color-secondary);
    border-radius: 4px;
    font-size: 1em;
    outline: none;
}

.card form select:focus {
    border-color: var(--primary-color);
}

.card button[type="submit"] {
    display: inline-block;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--foreground-color);
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.card button[type="submit"]:hover {
    background-color: var(--primary-color-dark);
}